---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/ui/Button.astro";
---
<MainLayout title="Главная">
  <section class="text-center py-20">
    <h1 class="text-h1 font-bold">Добро пожаловать в IPX</h1>
    <p class="text-lg text-gray-600 mt-4 mb-12">Минималистичный Astro Starter</p>
    <Button variant="primary" href="/">Начать</Button>
  </section>
</MainLayout>